@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Roboto Slab', serif;
}

input, textarea {
	border: none;
	border-bottom: 1px solid;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.container {
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	width: 70%;
	margin: auto;
}

.centered {
	margin: auto;
	text-align: center;
}

.header {
	background-color: #22cc4f;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	color: white;
}

.button {
	display: inline-flex;
	margin: 10px;
	background-color: #6babff;
	padding: 20px;
	width: 200px;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 50px grey;
	-webkit-transition: background-color 0.3s;
}

.button:hover {
	background-color: #4c8dff;
}

.smallButton {
	margin: auto;
	background-color: #ffd249;
	padding: 20px;
	width: 50px;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 50px grey;
	-webkit-transition: background-color 0.3s;
}

.smallButton:hover {
	background-color: #ffc000;
}